/*reset geral do CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body * {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--purple);
    font-size: 16px;
    font-weight: 300px;
}

body {
    background-color: var(--body-bg-color);
}

#container {
    width: 326px;
    margin: 180px auto;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    padding: 4px;
    margin-bottom: 15px;
}


.list {
    list-style-position: inside;
    list-style: none;
}

#social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 30px 0 70px;
}

#social-list li {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 49px;
    border: 2px solid var(--purple);
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-links-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 236px;
}

#social-links-list a {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
} 

#social-links-list a:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

@media screen and (max-width: 768px){
    #container {
        margin: 120px auto 150px auto;
    }
}




